<div class="jumbotron header-text">
  <h1>Placeholder Used <br> Gamestore Name</h1>
</div>

<div class="container">
  <div class="col-md-6">

  <h4>Games for sale</h4>
    <ul>
      <li><%= @lists[0].name %> (<%= @lists[0].price %>)</li>
      <li><%= @lists[1].name %> (<%= @lists[1].price %>)</li>
      <li><%= @lists[2].name %> (<%= @lists[2].price %>)</li>
    </ul>
    <a href="/games"><button class="view-more" type="button" name="view-more">View All</button></a>
  </div>
  <div class="col-md-6 admin">

  </div>
</div>
<div class="info">
  <p>Address:</p>
  <p>555 SE Some Street</p>
  <p>Beaverton, OR 97006</p>
  <br>
  <p>Phone Number:</p>
  <p>(555)555-5555</p>
</div>
